body{
    background-image: url(image/2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;height:auto;/*this is for response img*/
}

H1:hover{
    color:wheat;
    cursor: pointer;
    color: cadetblue;
    font-size: large;
    font-style: italic;
    font-size:10vw
 }
  .footer{

   position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color:blue;
        text-align: center;
      }
      h1{
        color: lightcoral;
      }
label{
  color: white;
  width: 140px;
  display:inline-block;
 
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  position: absolute;
}
button:hover{
  background-color: plum;
  cursor: pointer;
  color: aqua;

}
.row{
  float: right;
  /* display: inline; */
}
.row li{
  display: inline;

}
.row li a{

  margin: 5px;
  border: 1px solid white;
  padding: 10px 30px;
  /*background-color: teal;*/
  text-decoration: none;
  border-radius: 10px;
}
.row li a:hover{
  background-color: white;
  color: violet;

}
h1{
color: tomato;
}
.me{
  background-size: cover;
  footer {
      text-decoration-color: red ;
  }

   footer a {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: red;
  }